<main>
    <div class="welcome">
        <div class="start-session">
            <h3>Start a new Session</h3>
            <p>
                <label for="member-start">username</label><br>
                <input type="text" placeholder="your name" id="member-start"/>
            </p>
            <p>
                <label for="cards">cards</label><br>
                <select id="cards"></select>
            </p>
            <p>
                <button id="btn-start">start session</button>
            </p>
            <p class="error"></p>
        </div>
        <div class="enter-session">
            <h3>Enter a Session</h3>
            <p>
                <label for="member-enter">username</label><br>
                <input type="text" placeholder="your name" id="member-enter"/>
            </p>
            <p>
                <label for="session-id">session id</label><br>
                <input type="text" placeholder="session id" id="session-id"/>
            </p>
            <p>
                <button id="btn-enter">enter session</button>
            </p>
            <p class="error"></p>
        </div>
    </div>
    <div class="session">
        <p id="session-link"></p>
        <p id="users"></p>
        <button id="btn-reveal">reveal</button>
        <button id="btn-new-vote">new vote</button>
        <button id="btn-qrcode">qrcode</button>
        <p class="error"></p>
    </div>
</main>
