<main>
    <div class="row">
        <h3>Start a poker session</h3>
        <p>You start a poker session by entering a username and selecting your desired card set.</p>
        <h4>username</h4>
        <p>The username must contain at least two characters.</p>
        <h4>cards</h4>
        <p>You can choose between the following card sets. You cannot change the cards during the poker round.</p>
        <div id="cards"></div>
        <h4>session password (optional)</h4>
        <p>You can set a session password to exclude uninvited players. The password is optional.</p>
        <h3>Invite players and play</h3>
        <p>To invite other players, you can simply copy the current address from your browser and send it to your
            players. Do not forget to tell them the password as well, if you have assigned one.</p>
        <p>If you share your screen with your players, for example in a zoom session, then you can also use the qrcode
            button. The players can then easily participate via phone.</p>
        <p>As soon as all players are online, the game can start. The first round of poker is already underway. Everyone
            can vote now.</p>
        <p>When everyone has voted, you can uncover the results by clicking the uncover button.</p>
        <p>For a new vote, you should press the new vote button.</p>
        <p>And so on...</p>
        <p>Have fun!</p>
    </div>
</main>
